body {
  background-color: #f60000;
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

  
  

#cv-template {
  display: none;
}
.myimg {
  
  border-radius: 50%;
  width: 200px;
}


.background {
  background-color: rgb(240, 211, 167); 
  
  
}
